@import url('https://fonts.googleapis.com/css?family=Poppins:400');
body{
  font-family: "Poppins", Arial, Sans-Serif;
  background-color: rgb(54,57,63);
}
img{
  max-width: 100%;
}
.titulo{
  color: #fff;
}
.intro, .help{
  color: #dfddde;
}
.help{
  padding-left: 2.5%;
  display: inline;
}
.list{
  padding-left: 0;
  color: #dfddde;
}
.list li{
  list-style: none;
}
.cuerpo{
  color: #dfddde;
}
.error li{
  color: rgb(247, 94, 94);
}
.sidenav {
  height: 100%;
  width: 375px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(47,49,54);
  overflow-x: hidden;
}

.highImg{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}
a{
  color: rgb(88, 101, 242);
}

h2{
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
}

.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(150, 152, 157);
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.sidenav a{
  padding-left: 22px;
}
.sidenav a:hover, .dropdown-btn:hover {
  background-color: rgb(60,63,69);
  color: #dfddde;
}

.main {
  margin-left: 375px;
  font-size: 20px;
  padding-left: 2.5%;
  padding-right: 5%;
}

.active {
  background-color: rgb(66,70,77);
  color: white;
}

.dropdown-container {
  display: none;
  background-color: #262626;
}

.fa-caret-down, .fa-caret-up{
  float: right;
  padding-right: 8px;
  padding-left: 8px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}